<html>
    <script src="/static/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>

    <style>
        html {
            width: 100%;
            height: 100%;
            min-height: 1500px;
            overflow: none;
            background: rgb(57, 20, 97);
        }
    </style>
{% block content %}
{% endblock %}
    <script type="text/javascript">
    $(document).ready(function(){

        var socket = io.connect('http://' + document.domain + ':' + location.port + '/presentation');
        socket.on('slide', function(msg) {
            window.location.href = '/slide/' + msg.data;
        });

      });
    </script>
</html>
