<html>
  <head>
    <script src="/static/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>

    {% block styles %}
    <style>
      html {
        width: 1152px;
        height: 648px;
        overflow: none;
        background: white;
        font-color: rgb(57, 20, 97);
        text-align: center;
      }
      img {
        height: 100%;
        margin: 0px auto;
      }
    </style>
    {% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

  <script>
  $(document).ready(function(){

    var socket = io.connect('http://' + document.domain + ':' + location.port + '/presentation');

    socket.on('slide', function(msg) {
        console.log('o hello there')
        window.location.href = '/slide/' + msg.data;
    });

    socket.on('connect', function(msg) {
      socket.emit('action', ACTION);
    });
  });
  </script>
  </body>
</html>
